.navigate_form	{
    background-color: #161616;

}


.topx_table th  {
    background-color: #363636;
}

.topx_table td  {
    background-color: #262626;
}

.topx_graph	{
    background-color: #262626;

}

