
.navigate_form  {
    background-color: #262626;

}


.topx_table th  {
    background-color: #464646;
    color: #cccccc;
}

.topx_table td  {
    background-color: #363636;
    color: #cccccc;

}

.topx_graph     {
    background-color: #363636;

}


.topx_h3	{
    color: #cccccc;
}
