.navigate_form  {
    background-color: #000000;
}


.topx_table th  {
    color: #cccccc;
    background-color: #121212;
}

.topx_table td  {
    color: #cccccc;
}

.topx_graph     {

}


.topx_h3        {
    color: #cccccc;
}

